body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.header {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header_container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  padding: 32px;
}
.header_container #logo,
.header_container #light_mode {
  display: inline;
}
.header_container #light_mode {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.header_container #logo {
  font-size: 14px;
  margin-left: -25px;
  font-weight: 800;
}
.header_container #light_mode .fa-moon {
  font-weight: 100;
}
.header_container #light_mode #light_mode_text {
  display: inline;
  margin-left: 6px;
  font-weight: 300;
  font-size: 14px;
}
.finding_county {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  margin-top: 75px;
  margin-bottom: 55px;
}
.finding_county .search_country,
.finding_county .filter {
  display: inline;
}
.finding_county .search_country {
  padding: 14px 30px 14px 30px;
  width: 280px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
}
.search_country #search {
  border: none;
  margin-left: 30px;
  font-size: 14px;
  background-color: transparent;
}
.search_country #search:focus {
  border: none;
  outline: none;
}
.finding_county .search_country #xmark_search {
  display: none;
}
.finding_county .filter {
  position: absolute;
  right: 0;
  top: -10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.finding_county .filter #select_country {
  border: none;
  padding: 10px 8px 10px 8px;
  width: 200px;
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  padding: 10px;
  position: relative;
  background-color: transparent;
}
.finding_county .filter #filter_line {
  color: rgb(204, 204, 204);
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  right: 30px;
  top: -2px;
}
.finding_county .filter #xmark_filter {
  position: absolute;
  right: 40px;
  top: 13px;
  display: none;
}
#cards_section {
  display: grid;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
.card {
  width: 264px;
  height: 295px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: inline-block;
  border-radius: 8px;
}
#card_image {
  width: 100%;
  height: 150px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px 8px 0 0;
}
#cards_section .card .describe {
  padding: 24px;
}
.card .describe #card_country_name {
  margin-bottom: 10px;
  margin-top: -13px;
}
.card .describe #card_population,
.card .describe #card_region,
.card .describe #card_capital {
  display: block;
  margin-bottom: 2px;
  font-size: 15px;
}
.card .describe #card_capital {
  margin-bottom: 0;
}
.dark_mode_body {
  background-color: #202c37;
  color: #fff;
}
.dark_mode_card {
  background-color: #2b3945;
  color: #fff;
  box-shadow: hsla(0, 0%, 96.1%, 0.2) 0 0 8px;
}
